* {
  font-family: "Roboto", "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to left, #3bb7f7, #55c6c5 99%);
  //adicionar imagem de backgroud parallex
}

#header {
  .top-header {
    display: flex;
    width: 100%;
    height: 31px;
    background-color: white;
  }
  .top-header-inside {
    display: flex;
    align-items: center;
  }
  .main-header {
    width: 100%;
    height: 130px;
    background-image: linear-gradient(to left, #3bb7f7, #55c6c5 99%);
    border-bottom: 2px solid #285274;
  }
  .main-header-inside {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .top-header-portals {
    font-size: 12px;
    text-align: center;
    color: #285274;
    letter-spacing: 0.35px;
    margin-left: 5px;
    cursor: pointer;
  }
  .header-arrow {
    cursor: pointer;
  }
  .vertical-line {
    border-left: 1px solid #285274;
    height: 16px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .top-header-social-medias {
    display: flex;
    width: 55px;
    justify-content: space-between;
  }

  .top-header-phone-img {
  }

  .top-header-phone {
    font-size: 13px;
    text-align: center;
    color: #285274;
    margin-left: 5px;
  }

  .logo-barao {
    width: 150px;
    height: 100%;
    text-align: center;
  }

  .logo-barao p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.4px;
    line-height: 1.2;
    margin-top: 4px;
  }

  .logo-fae {
    width: 150px;
    height: 100%;
    text-align: center;
    padding-top: 23px;
  }

  .logo-fae p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-top: 7px;
    font-weight: 600;
    position: absolute;
    margin-left: -20px;
  }

  .main-header-inside-middle {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .top-menus {
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    position: relative;
    top: 15%;
  }

  .top-menus a{
    color: #ffffff;
    text-decoration: none;
  }

  .top-menus-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical-line-top-menu {
    border-left: 1px solid #ffffff;
    height: 16px;
    margin-left: 10px;
    margin-right: 12px;
  }
  
  .each-bottom-menus {
    cursor: pointer;
  }

  #portals {
    top: 31px;
    position: absolute;
    background-color: #285274;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    font-size: 12px;

    div {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .middle-search {
    width: 90%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-input-search {
    width: 330px;
    height: 26px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  .header-input-search-button {
    background-color: #285274;
    width: 50px;
    height: 26px;
    border: none;
    outline: none;
  }

  .bottom-menus {
    width: 85%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    color: #285274;
    font-size: 15px;
  }
}

#banner-slider {
  .carousel-inner {
    img {
      width: 100%;
    }
  }
}

#quick-menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -100px;
  @media (max-width: 600px) {
    flex-direction: column;
  }

  .box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width: 600px) {
      width: 100%;
    }
    img {
      margin: 15px;
      max-height: 130px;
    }

    .title {
      width: 100%;
      height: 42px;
      background-color: white;
      text-align: center;
    }
  }

  .one {
    background-color: #a1eb81;
  }

  .two {
    background-color: #46b1e3;
  }

  .three {
    background-color: #86f7cb;
  }

  .four {
    background-color: #fed959;
  }

  .five {
    background-color: #f9a963;
  }
}

#highlights {
  height: 501px;
}
